#navbar{ 
  position:fixed;
  display:flex;
  width:80%;
  margin-left: 10%;
}
#navbar a{
  flex-grow:1;
  text-align:center;
  
  font-size: 1.5em;
  font-weight:400;
  color:#fff;
  background-color: #000;
  padding-top:0.5em;
  padding-bottom:0.5em;
  
}
#rezepte:hover{
	  background-color:#cdf;
	  color:#000;
}
a{
	text-decoration:none;
}
#titel{
	color:#fff;
	text-align:center;
	font-size:5em;
}
#rezepteh{
	
	color:#cdf;
	font-size:3em;
	text-align:center;
	font-weight:700;
}
#vegan:hover{
	  background-color:#cfc;
	  color:#000;
}
#veganh{
	color:#cfc;
	font-size:3em;
	text-align:center;
}
#low-carb:hover{
	  background-color:#fce;
	  color:#000;
}
#low-carbh{
	color:#fce;
	font-size:3em;
	text-align:center;
}
#rezepte-vorschau{
	width: 100%;
	height: auto;
	display:flex;
	text-align:left;
	justify-content:space-between;
	flex-wrap:wrap;
}
#rezepte-vorschau figure{
	margin-left:0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
}
.rezept-link:hover{
	color:#cdf;
}
.rezept-link{
	color: #fff;
}
.eintrag{
	width:32%;
	height:auto;
	padding-bottom:1em;
	//background-color:#f00
}
.rezept-bild{
	width:100%;
	height:auto;
}
.rezept-titel{
	margin-top:0.5em;
	font-weight:700;
}
#rezept-name{
	color: #fff;
	font-size:3em;
	text-align:center;
}
html{
	background-color:#3e4242;
	display:flex;
	flex-direction:column;
	font-family:Arial;
	
}
body{
	margin-left:0;
	margin-right:0;
}
.page{
	margin-top:4em;
	width:80%;
	margin-left:10%;
}
#footer{
	background-color:#000;
	color:#bbb;
	text-align:center;
	bottom:0;
	width:80%;
	padding-top:1em;
	padding-bottom:1em;
	margin-left:10%;
}