#navbar{ 
  position:fixed;
  display:flex;
  width:80%;
  margin-left: 10%;
}
#navbar a{
  flex-grow:1;
  text-align:center;
  
  font-size: 2.2em;
  font-weight:400;
  color:#fff;
  background-color: #000;
  padding-top:0.5em;
  padding-bottom:0.5em;
  
}
#rezepte:hover{
	  background-color:#cdf;
	  color:#000;
}
a{
	text-decoration:none;
}
#titel{
	color:#fff;
	text-align:center;
	font-size:5em;
}
#rezepteh{
	
	color:#cdf;
	font-size:3em;
	text-align:center;
	font-weight:700;
}
#vegan:hover{
	  background-color:#cfc;
	  color:#000;
}
#veganh{
	color:#cfc;
	font-size:3em;
	text-align:center;
}
#low-carb:hover{
	  background-color:#fce;
	  color:#000;
}
#low-carbh{
	color:#fce;
	font-size:3em;
	text-align:center;
}
#rezepte-vorschau{
	width: 100%;
	height: auto;
	display:flex;
	text-align:left;
	justify-content:space-between;
	flex-wrap:wrap;
}
#rezepte-vorschau figure{
	margin-left:0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
}
.rezept-link:hover{
	color:#cdf;
}
.rezept-link{
	color: #fff;
}
.eintrag{
	width:30%;
	min-width:20em;
	flex-grow:1;
	height:auto;
	padding-bottom:2%;
	padding-left:1%;
	padding-right:1%;
	//background-color:#f00
}
.rezept-bild{
	width:100%;
	height:auto;

}
.eintrag:hover{
	padding-left:0%;
	padding-right:0%;
	padding-bottom:0%;
	min-width:21.333333em;
	width:32%;
	height:auto;
}

.eintrag:hover .rezept-titel{
	//font-size:2.13em;
	//height:3.4em;
	//line-height:1.6em;
}
.rezept-titel{
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:wrap;

	font-weight:700;
	font-size: 2em;
	height: 3.2em;
	line-height:1.5em;
}

html{
//background-color:#3e4242;
	background-color:#161616;
	display:flex;
	flex-direction:column;
	font-family:Arial;
	
}
body{
	margin-left:0;
	margin-right:0;
}
.page{
	margin-top:6em;
	width:80%;
	margin-left:10%;
}
#footer{
	background-color:#000;
	color:#bbb;
	text-align:center;
	bottom:0;
	width:80%;
	padding-top:1em;
	padding-bottom:1em;
	margin-left:10%;
}

@media only screen and (max-width: 950px) {
  .page{
  width:100%;
  margin-left:0%
  }
  
  #navbar{
  width:100%;
  margin-left:0%
  }
  .rezept-titel{
	
	font-size: 1.8em;
	height: 2.88em;
	line-height:1.35em;
}
}

@media only screen and (max-width: 695px) {
  .eintrag{
	padding-bottom:1.333333;
	padding-left:0.666666em;
	padding-right:0.666666em;
	//background-color:#f00
}

.eintrag:hover{
	padding-left:0%;
	padding-right:0%;
	padding-bottom:0%;
}
}